{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
<p>
    <a href="{{ url_for('editStud') }}" > Edit </a>
</p>
<table border = 1>
    <thread>
        <td>Student Id</td>
        <td>Last Name</td>
        <td>First Name</td>
        <td>GPA</td>
        <td>House</td>
        <td>Schedule</td>
    </thread>
    {% for row in rows %}
        <tr>
            <td>{{row["stuId"]}}</td>
            <td>{{row["lastName"]}}</td>
            <td> {{ row["firstName"]}}</td>
            <td>{{row['GPA']}}</td>
            <td>{{row["House"]}}</td>
            <td> {{ row["Schedule"]}}</td>	
        </tr>
         {% endfor %}
      </table>
<h3> Add Student </h3>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Student Id:
        <dd><input type=number size=30 name=stuId>
        <dt>Last Name:
        <dd><input type=text size=30 name=lastName>
        <dt>First Name:
        <dd><input type=text size=30 name=firstName>
        <dt>GPA:
        <dd><input type=number step=any size=4 name=GPA>
        <dt>House:
        <dd><input type=text size=30 name=House>
      <dt>Schedule:
        <dd><input type=text size=30 name=Schedule>
        <dd><input type=submit value=Share>
      </dl>
    </form>

<h3> Delete Student </h3>
    {% for row in rows %}
        <li><h5>{{row.stuId }}</h5>
        <form action="{{ url_for('deleteStud') }}" method=post class=delete-stud>
        <input type=hidden value="{{row.stuId }}" name=studDelete></input>
        <input type=submit></input>
        </form>
    {% endfor %}
 
  {% endif %}
{% endblock %}


