{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
{% if session.admin %}
<p>
    <a href="{{ url_for('editStud') }}" > Edit </a>
</p>
{% endif %}
<table border = 1>
    <thread>
  {% if session.admin %}
        <td><b>Student Id</b></td>
  {% endif %}
        <td><b>Last Name</b></td>
        <td><b>First Name</b></td>
  {% if session.admin %}
        <td><b>GPA</b></td>
  {% endif %}
        <td><b>House</b></td>
        <td><b>Schedule</b></td>
    </thread>
    {% for row in rows %}
        <tr>
  {% if session.admin %}
            <td>{{row["stuId"]}}</td>
  {% endif %}
            <td>{{row["lastName"]}}</td>
            <td> {{ row["firstName"]}}</td>
  {% if session.admin %}
            <td>{{row['GPA']}}</td>
  {% endif %}
            <td>{{row["House"]}}</td>
            <td> {{ row["Schedule"]}}</td>	
        </tr>
         {% endfor %}
      </table>
  {% if session.admin %}
<h3> Add Student </h3>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Student Id:
        <dd><input type=number size=30 name=stuId>
        <dt>Last Name:
        <dd><input type=text size=30 name=lastName>
        <dt>First Name:
        <dd><input type=text size=30 name=firstName>
        <dt>GPA:
        <dd><input type=number step=any size=4 name=GPA>
        <dt>House:
        <dd><input type=text size=30 name=House>
      <dt>Schedule:
        <dd><input type=text size=30 name=Schedule>
        <dd><input type=submit value=Share>
      </dl>
    </form>

<h3> Delete Student </h3>
    {% for row in rows %}
        <li><h4>{{row.stuId }} &nbsp;-&nbsp;{{row.firstName}}</h4>
        <form action="{{ url_for('deleteStud') }}" method=post class=delete-stud>
        <input type=hidden value="{{row.stuId }}" name=studDelete></input>
        <input type=submit></input>
        </form>
    {% endfor %}
   {% endif %}
  {% endif %}
{% endblock %}


