{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
<h1> Time to edit </h1>
<br>
 {% if session.logged_in %}
    <form action="{{ url_for('editGrades') }}" method=post class=add-entry>
      <dl
	<dt> Grades </dt>
	{% for entry in entries %}
	<dd><input type=radio name=stuId value="{{entry.stuId}}"> {{entry.stuId}} &nbsp;-&nbsp;{{ entry.GPAt }}
  	{% endfor %}      
	<dt>Semester:
        <dd><input type=text size=30 name=Semester>
	<dt>GPA:
        <dd><input type=number step=any size=30 name=GPA>
	<dt>Student ID:
        <dd><input type=text size=30 name=stuId>
	<br>
        <dd><input type=submit value=POST>
      </dl>
    </form>
  {% endif %}  
{% endblock %}
